{erl_opts, [
    debug_info
    ,{parse_transform, lager_transform}
    ,{lager_truncation_size, 1024}
    ,{d, debug}
    ,nowarn_unused_vars
    ,nowarn_unused_function
    ,nowarn_unused_record
    ,nowarn_export_all
]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.2"}}}
]}.

{relx, [{release, { neuroevo, "0.1.0" },
         [ne_common,
          gs,
          neuroevo,
          sasl],
         [{sys_config, "./config/sys_neuroevo.config"},
          {vm_args, "./config/vm_neuroevo.args"}]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]
            }]
}.

